/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    width: 100%;
    font-family: Helvetica;
}
h1{
    font-size: 5em;
    color: #acacac;
    text-shadow: 2px 0 0 #acacac;
}
.container{
    width: 100%;
    text-align: center;
}
.card{
    width: 600px;
    margin: 25px auto;
    box-sizing: border-box;
}
.player{
    width: 600px;
    height: 200px;
    margin: 20px auto;
    border-bottom: 1px dashed black;
}
.comp{
    width: 600px;
    height: 200px;
    margin: 20px auto;
    border-top: 1px dashed black;
}
.info{
    width: 150px;
    height: 75px;
    border: 1px solid #acacac;
    margin: 0px auto;
    text-align: center;
    color: #acacac;
    line-height: 70px;
    font-size: 30px;
    border-radius: 10px;
}
.gajah,
.orang,
.semut{
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 100%;
}
.img-comp{
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 100%;
}
.gajah:hover,
.orang:hover,
.semut:hover,
.active {
    cursor: pointer;
    box-shadow: 0 0 10px 5px #acacac;
}
.bayang{
    cursor: pointer;
    box-shadow: 0 0 10px 5px #acacac;
}